* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.sidebar {
  width: 250px;
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.4s ease;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  color: #0e0e0e;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #333;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #f5f5f5;
}

.menu-item.active {
  background: linear-gradient(to right, #f57c00, #ffcc00);
  color: white;
}

.menu-item i {
  margin-right: 12px;
  font-size: 20px;
}

.menu-text {
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.3s, transform 0.3s;
}

.sidebar.collapsed {
  width: 70px;
  overflow: hidden;
}

.sidebar.collapsed .menu-text {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
}

.menu-item .icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-size: contain;
}

.sidebar.collapsed .logo {
  display: none;
}

.toggle-btn {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  text-align: left;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 20px;
  font-weight: 600;
}

.logo img {
  width: 35px;
  height: 35px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.dashboard-icon,
.Approval-icon,
.settings-icon,
.stats-icon,
.request-icon,
.logout-icon,
.donation-icon,
.achievement-icon,
.event-icon,
.alert-icon,
.user-icon, .prediction-icon {
  background: currentColor;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.dashboard-icon {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M4 13h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1zm-1 7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v4zm10 0a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v7zm1-10h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1z'/%3E%3C/svg%3E");
}

.stats-icon {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z'/%3E%3C/svg%3E")
    no-repeat center;
}

.settings-icon {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 15.5A3.5 3.5 0 0 1 8.5 12 3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5 3.5 3.5 0 0 1-3.5 3.5zm7.43-2.53c.04-.32.07-.65.07-.97 0-.32-.03-.65-.07-.97l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65A.488.488 0 0 0 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.63c-.04.32-.07.65-.07.97 0 .32.03.65.07.97l-2.11 1.63c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.31.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.63z'/%3E%3C/svg%3E");
}

.request-icon {
  background: currentColor;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 125'%3E%3Cpath d='M64.8,15.4,55.5,6.826V15.3l9.3.1ZM22.537,26.225a1.265,1.265,0,0,1,0-2.53H57.389a1.265,1.265,0,0,1,0,2.53Zm-8.084,0a1.265,1.265,0,1,1,0-2.53h2.5a1.265,1.265,0,0,1,0,2.53Zm8.084,9.653a1.265,1.265,0,0,1,0-2.53H57.389a1.265,1.265,0,1,1,0,2.53Zm-8.084,0a1.265,1.265,0,1,1,0-2.53h2.5a1.265,1.265,0,1,1,0,2.53Zm8.084,9.653a1.265,1.265,0,0,1,0-2.53H57.389a1.265,1.265,0,0,1,0,2.53Zm-8.084,0a1.265,1.265,0,1,1,0-2.53h2.5a1.265,1.265,0,0,1,0,2.53Zm8.084,9.653a1.265,1.265,0,1,1,0-2.53H57.389a1.265,1.265,0,1,1,0,2.53Zm-8.084,0a1.265,1.265,0,1,1,0-2.53h2.5a1.265,1.265,0,1,1,0,2.53Zm8.084,9.653a1.265,1.265,0,1,1,0-2.53H57.389a1.265,1.265,0,1,1,0,2.53Zm-8.084,0a1.265,1.265,0,1,1,0-2.53h2.5a1.265,1.265,0,1,1,0,2.53Zm8.084,9.653a1.265,1.265,0,1,1,0-2.53H57.389a1.265,1.265,0,1,1,0,2.53Zm-8.084,0a1.265,1.265,0,1,1,0-2.53h2.5a1.265,1.265,0,1,1,0,2.53ZM90.924,62A13.916,13.916,0,1,0,95,71.836,13.873,13.873,0,0,0,90.924,62ZM69.372,60.29V16.73h0a1.255,1.255,0,0,0-.408-.929L64.373,11.57h9.121v0h0V57.241a16.5,16.5,0,0,0-4.042,2.966l-.083.083Zm-2.53,19.776v8.362h0v0H5v0H5V5.21H52.971V16.546h.005a1.26,1.26,0,0,0,1.251,1.26l12.615.136V63.606a16.468,16.468,0,0,0,0,16.46ZM73.5,86.431V94.79H11.655V90.96H66.84a2.513,2.513,0,0,0,1.692-.655,1.134,1.134,0,0,0,.1-.088,2.522,2.522,0,0,0,.743-1.789V83.382c.028.027.055.055.083.083A16.5,16.5,0,0,0,73.5,86.431Zm.559-14.082a1.263,1.263,0,0,1,1.938-1.621L79.065,74.4l7.144-7.885a1.26,1.26,0,1,1,1.868,1.69l-8.055,8.89a1.221,1.221,0,0,1-.187.194,1.264,1.264,0,0,1-1.779-.158Z'/%3E%3C/svg%3E")
    no-repeat center;
}

.logout-icon {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z'/%3E%3C/svg%3E");
}

.alert-icon {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5'/%3E%3C/svg%3E");
}

.donation-icon {
  mask-image: url("data:image/svg+xml,%3Csvg id='Layer_1' style='enable-background:new 0 0 66 66;' version='1.1' viewBox='0 0 66 66' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M59.8,23.2c-0.6-0.1-1.2-0.2-1.8-0.1c-0.1,0-0.2,0-0.3,0C53.9,23.6,49.5,27.8,47,37l-4.6,3.8l0.1-3.3c0.7-3.4-1.4-6.6-4.8-7.4c-0.3-0.1-0.6,0-0.8,0.1c-0.2,0.2-0.4,0.4-0.4,0.7L35,40.8c-0.5,3.6-0.5,7.2,0,10.7l1.6,12.3c0.1,0.5,0.4,0.8,0.9,0.9c2.3,0.2,4,0.3,5.5,0.3c2.4,0,4.2-0.3,7.2-0.8c0.5-0.1,0.8-0.5,0.8-1l0.2-6.1c0.2-0.8,0.6-1.5,1.1-1.9l6.9-5.4c0,0,0,0,0.1-0.1c1-0.9,1.6-2.1,1.9-3.3l2.8-12C65.7,28.2,63.1,24.1,59.8,23.2z M62.3,34l-2.8,12c-0.2,0.9-0.7,1.7-1.3,2.3l-7,5.4c-0.9,0.8-1.5,1.9-1.8,3.1c0,0.1,0,0.1,0,0.2l-0.1,5.4c-4,0.7-5.8,0.8-10.6,0.4L37,51.2c-0.5-3.4-0.5-6.8,0-10.1l1.3-8.7c1.7,0.9,2.6,2.8,2.2,4.8c0,0.1,0,0.1,0,0.2l-0.1,5.6c0,0.4,0.2,0.7,0.6,0.9c0.4,0.2,0.8,0.1,1.1-0.1l6.5-5.3c0.2-0.1,0.3-0.3,0.3-0.5c1.9-7.2,4.9-11,7.6-12.3l-4.6,13.6l-1.8,1.1c-0.5,0.3-0.6,0.9-0.3,1.4c0.2,0.3,0.5,0.5,0.9,0.5c0.2,0,0.4,0,0.5-0.1l2.1-1.3c0.2-0.1,0.4-0.3,0.4-0.5l5-15.1c0.2,0,0.4,0,0.6,0.1c0.4,0.1,0.8,0.3,1.2,0.5l-3.9,14.8l-3,2.8c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3c0.2,0,0.5-0.1,0.7-0.3l3.2-3c0.1-0.1,0.2-0.3,0.3-0.5L62,27.7C62.7,29.2,62.9,31.4,62.3,34z'/%3E%3Cpath d='M29.5,30.9c0-0.3-0.2-0.5-0.4-0.7C28.9,30,28.6,30,28.3,30c-3.4,0.8-5.4,4-4.8,7.4l0.1,3.3L19,37c-2.5-9.3-6.9-13.5-10.8-13.9c-0.1,0-0.2,0-0.3,0c-0.6,0-1.2,0-1.8,0.1c-3.3,0.8-5.9,5-4.4,11.3l2.8,12c0.3,1.3,1,2.4,1.9,3.3c0,0,0,0,0.1,0.1l6.9,5.3c0.6,0.5,1,1.2,1.2,2l0.2,6.1c0,0.5,0.4,0.9,0.8,1c3,0.5,4.9,0.8,7.2,0.8c1.5,0,3.2-0.1,5.5-0.3c0.5,0,0.8-0.4,0.9-0.9l1.6-12.3c0.5-3.6,0.5-7.2,0-10.7L29.5,30.9z M29,51.2l-1.5,11.5c-4.9,0.4-6.6,0.3-10.6-0.4L16.6,57c0-0.1,0-0.1,0-0.2c-0.3-1.2-0.9-2.3-1.9-3.2l-6.9-5.4c-0.7-0.6-1.1-1.4-1.3-2.3L3.7,34c-0.6-2.7-0.4-4.8,0.3-6.3l3.5,13.6c0,0.2,0.1,0.3,0.3,0.5l3.2,3c0.2,0.2,0.4,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4l-3-2.8L5.5,25.7c0.4-0.3,0.7-0.4,1.2-0.5c0.2-0.1,0.4-0.1,0.6-0.1l5,15.1c0.1,0.2,0.2,0.4,0.4,0.5l2.1,1.3c0.2,0.1,0.3,0.1,0.5,0.1c0.3,0,0.7-0.2,0.9-0.5c0.3-0.5,0.1-1.1-0.3-1.4l-1.8-1.1L9.6,25.6c2.7,1.3,5.7,5.1,7.6,12.3c0.1,0.2,0.2,0.4,0.3,0.5l6.5,5.3c0.3,0.2,0.7,0.3,1.1,0.1c0.4-0.2,0.6-0.5,0.6-0.9l-0.1-5.6c0-0.1,0-0.1,0-0.2c-0.4-2,0.5-3.9,2.2-4.8l1.3,8.7C29.5,44.4,29.5,47.8,29,51.2z'/%3E%3Cpath d='M38.1,23.4c-1.5,1.6-3.1,3.1-4.7,4.8c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0-0.1,0.1-0.2,0.1h0c-0.1,0-0.2,0.1-0.3,0.1c0,0,0,0,0,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.1-0.1-0.2-0.1c-1.4-1.5-2.8-3-4.2-4.4c-5.1-5.1-9.5-9.5-8.8-13.6c0-0.1,0-0.1,0-0.2c0.6-3.8,3.8-6.6,7.6-6.6c2.4,0,4.7,1.2,6.1,3.1c1.4-1.9,3.7-3.1,6.1-3.1c3.8,0,7,2.8,7.6,6.6c0,0.1,0,0.1,0,0.2C47.2,14.2,43.2,18.3,38.1,23.4z'/%3E%3Cpath d='M50.7,6.1c0.2,0,0.3,0,0.5-0.1l5.8-3.1c0.5-0.3,0.7-0.9,0.4-1.4C57.1,1,56.4,0.9,56,1.1l-5.8,3.1c-0.5,0.3-0.7,0.9-0.4,1.4C50,5.9,50.3,6.1,50.7,6.1z'/%3E%3Cpath d='M51.7,9.6c0,0.6,0.4,1,1,1h6.8c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1h-6.8C52.2,8.6,51.7,9,51.7,9.6z'/%3E%3Cpath d='M50.2,15l5.8,3.1c0.2,0.1,0.3,0.1,0.5,0.1c0.4,0,0.7-0.2,0.9-0.5c0.3-0.5,0.1-1.1-0.4-1.4l-5.8-3.1c-0.5-0.3-1.1-0.1-1.4,0.4C49.5,14.1,49.7,14.7,50.2,15z'/%3E%3Cpath d='M8.5,2.9L14.3,6c0.2,0.1,0.3,0.1,0.5,0.1c0.4,0,0.7-0.2,0.9-0.5c0.3-0.5,0.1-1.1-0.4-1.4L9.5,1.1C9,0.9,8.4,1,8.1,1.5C7.9,2,8.1,2.6,8.5,2.9z'/%3E%3Cpath d='M5.9,10.6h6.8c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H5.9c-0.6,0-1,0.4-1,1C4.9,10.1,5.3,10.6,5.9,10.6z'/%3E%3Cpath d='M14.3,13.2l-5.8,3.1c-0.5,0.3-0.7,0.9-0.4,1.4C8.3,18,8.7,18.2,9,18.2c0.2,0,0.3,0,0.5-0.1l5.8-3.1c0.5-0.3,0.7-0.9,0.4-1.4C15.4,13.1,14.8,12.9,14.3,13.2z'/%3E%3C/g%3E%3C/svg%3E");
}

.achievement-icon {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M48.0632 55.4387H15.8288a3.03 3.03 0 0 0-3.03 3.03v3.0323a.9121.9121 0 0 0 .9121.9124h36.47a.9124.9124 0 0 0 .9124-.9124V58.4691a3.03 3.03 0 0 0-3.03-3.0304zM55.6941 6.1826H50.64V4.5367a1.9506 1.9506 0 0 0-1.95-1.9506H15.5432a1.9506 1.9506 0 0 0-1.9507 1.9506V6.1826H8.3064a4.5171 4.5171 0 0 0-4.5117 4.5117v2.9228a13.4035 13.4035 0 0 0 6.5009 11.6592 13.212 13.212 0 0 0 5.708 1.7373q.0645.0043.129.0044a1.7133 1.7133 0 0 0 .2121-.02 18.592 18.592 0 0 0 8.12 7.1725 7.1072 7.1072 0 0 1 4.0617 6.5071v3.3494A2.2628 2.2628 0 0 1 26.2639 46.29H21.5862a2.7452 2.7452 0 0 0-2.7451 2.7452v3.7528H45.3918V49.0347a2.7452 2.7452 0 0 0-2.7453-2.7452H37.9687a2.263 2.263 0 0 1-2.2629-2.2629V40.6772a7.1071 7.1071 0 0 1 4.062-6.5071 18.5922 18.5922 0 0 0 8.1082-7.1523c.04 0 .0805-.0015.1208-.0042a13.2033 13.2033 0 0 0 5.707-1.7373 13.4039 13.4039 0 0 0 6.502-11.6592V10.6943a4.5171 4.5171 0 0 0-4.5028-4.5117zM12.0486 22.2465a9.896 9.896 0 0 1-4.7539-8.6294V10.6943A1.0128 1.0128 0 0 1 8.3064 9.6826h5.2861v7.62a18.4666 18.4666 0 0 0 .9871 5.9428 9.5264 9.5264 0 0 1-2.5309-1.0009zM39.1211 18.18l-2.13 1.5474a1.429 1.429 0 0 0-.519 1.5979l.8132 2.5034a1.4293 1.4293 0 0 1-2.1994 1.5981l-2.13-1.5472a1.4293 1.4293 0 0 0-1.68 0l-2.13 1.5472a1.4293 1.4293 0 0 1-2.1994-1.5981l.8134-2.5034a1.4293 1.4293 0 0 0-.5193-1.5979L25.112 18.18a1.4293 1.4293 0 0 1 .84-2.5857h2.6321a1.4293 1.4293 0 0 0 1.3594-.9875l.8135-2.5034a1.4293 1.4293 0 0 1 2.7187 0l.8135 2.5034a1.43 1.43 0 0 0 1.3594.9875H38.281a1.4294 1.4294 0 0 1 .8401 2.5857zM56.7058 13.617a9.8973 9.8973 0 0 1-4.7549 8.63 9.5091 9.5091 0 0 1-2.2764.9368 18.4662 18.4662 0 0 0 .9659-5.8815v-7.62h5.0537a1.0128 1.0128 0 0 1 1.0117 1.0117z'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M48.0632 55.4387H15.8288a3.03 3.03 0 0 0-3.03 3.03v3.0323a.9121.9121 0 0 0 .9121.9124h36.47a.9124.9124 0 0 0 .9124-.9124V58.4691a3.03 3.03 0 0 0-3.03-3.0304zM55.6941 6.1826H50.64V4.5367a1.9506 1.9506 0 0 0-1.95-1.9506H15.5432a1.9506 1.9506 0 0 0-1.9507 1.9506V6.1826H8.3064a4.5171 4.5171 0 0 0-4.5117 4.5117v2.9228a13.4035 13.4035 0 0 0 6.5009 11.6592 13.212 13.212 0 0 0 5.708 1.7373q.0645.0043.129.0044a1.7133 1.7133 0 0 0 .2121-.02 18.592 18.592 0 0 0 8.12 7.1725 7.1072 7.1072 0 0 1 4.0617 6.5071v3.3494A2.2628 2.2628 0 0 1 26.2639 46.29H21.5862a2.7452 2.7452 0 0 0-2.7451 2.7452v3.7528H45.3918V49.0347a2.7452 2.7452 0 0 0-2.7453-2.7452H37.9687a2.263 2.263 0 0 1-2.2629-2.2629V40.6772a7.1071 7.1071 0 0 1 4.062-6.5071 18.5922 18.5922 0 0 0 8.1082-7.1523c.04 0 .0805-.0015.1208-.0042a13.2033 13.2033 0 0 0 5.707-1.7373 13.4039 13.4039 0 0 0 6.502-11.6592V10.6943a4.5171 4.5171 0 0 0-4.5028-4.5117zM12.0486 22.2465a9.896 9.896 0 0 1-4.7539-8.6294V10.6943A1.0128 1.0128 0 0 1 8.3064 9.6826h5.2861v7.62a18.4666 18.4666 0 0 0 .9871 5.9428 9.5264 9.5264 0 0 1-2.5309-1.0009zM39.1211 18.18l-2.13 1.5474a1.429 1.429 0 0 0-.519 1.5979l.8132 2.5034a1.4293 1.4293 0 0 1-2.1994 1.5981l-2.13-1.5472a1.4293 1.4293 0 0 0-1.68 0l-2.13 1.5472a1.4293 1.4293 0 0 1-2.1994-1.5981l.8134-2.5034a1.4293 1.4293 0 0 0-.5193-1.5979L25.112 18.18a1.4293 1.4293 0 0 1 .84-2.5857h2.6321a1.4293 1.4293 0 0 0 1.3594-.9875l.8135-2.5034a1.4293 1.4293 0 0 1 2.7187 0l.8135 2.5034a1.43 1.43 0 0 0 1.3594.9875H38.281a1.4294 1.4294 0 0 1 .8401 2.5857zM56.7058 13.617a9.8973 9.8973 0 0 1-4.7549 8.63 9.5091 9.5091 0 0 1-2.2764.9368 18.4662 18.4662 0 0 0 .9659-5.8815v-7.62h5.0537a1.0128 1.0128 0 0 1 1.0117 1.0117z'/%3E%3C/svg%3E");

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: contain;
  -webkit-mask-size: contain;

  mask-position: center;
  -webkit-mask-position: center;
}

.event-icon {
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6.35 6.35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5856 0.7942V1.0546l0.5293 0.0016V0.7942c-0.0015-0.3556-0.5306-0.3512-0.5293 0zm2.6469 0V1.0577h-2.1176v0.7951c-0.0174 0.3608-0.5431 0.342-0.5293 0V1.0577H0.7928c-0.1461 0-0.2642 0.1195-0.2636 0.2656v1.0586h5.2917V1.3233c0-0.1469-0.1193-0.2662-0.2662-0.2656h-0.7929V0.7942c-0.0058-0.3567-0.5347-0.3501-0.5298 0zm0 0.265h0.5298v0.7936c-0.0057 0.3545-0.5345 0.3482-0.5298 0zM0.5292 2.9089v2.6458c0 0.1463 0.1173 0.2655 0.2636 0.2661h4.7624c0.1472 0 0.2665-0.119 0.2657-0.2661V2.9089zM1.5856 3.1745h0.5293c0.3525-0.0029 0.3559 0.526 0 0.5296h-0.5293c-0.3487 0.0041-0.3543-0.5246 0-0.5296zm1.3247 0h0.5293c0.3528 0.001 0.3516 0.53 0 0.5296h-0.5293c-0.3552-0.0035-0.3519-0.5325 0-0.5296zm1.3221 0h0.5298c0.3489-0.0067 0.3568 0.5218 0 0.5296H4.2325c-0.3538-0.0035-0.3505-0.5325 0-0.5296zm-2.6469 1.0586h0.5293c0.3512-0.0058 0.3573 0.5228 0 0.5291h-0.5293c-0.3514-0.0005-0.3516-0.5296 0-0.5291zm1.3247 0h0.5293c0.3554 0.0051 0.349 0.5338 0 0.5291h-0.5293c-0.3473 0.0096-0.3598-0.5179 0-0.5291zm1.3221 0h0.5298c0.3561 0.0053 0.3496 0.5339 0 0.5291H4.2325c-0.3552-0.0062-0.3491-0.5349 0-0.5291z'/%3E%3C/svg%3E");

  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6.35 6.35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5856 0.7942V1.0546l0.5293 0.0016V0.7942c-0.0015-0.3556-0.5306-0.3512-0.5293 0zm2.6469 0V1.0577h-2.1176v0.7951c-0.0174 0.3608-0.5431 0.342-0.5293 0V1.0577H0.7928c-0.1461 0-0.2642 0.1195-0.2636 0.2656v1.0586h5.2917V1.3233c0-0.1469-0.1193-0.2662-0.2662-0.2656h-0.7929V0.7942c-0.0058-0.3567-0.5347-0.3501-0.5298 0zm0 0.265h0.5298v0.7936c-0.0057 0.3545-0.5345 0.3482-0.5298 0zM0.5292 2.9089v2.6458c0 0.1463 0.1173 0.2655 0.2636 0.2661h4.7624c0.1472 0 0.2665-0.119 0.2657-0.2661V2.9089zM1.5856 3.1745h0.5293c0.3525-0.0029 0.3559 0.526 0 0.5296h-0.5293c-0.3487 0.0041-0.3543-0.5246 0-0.5296zm1.3247 0h0.5293c0.3528 0.001 0.3516 0.53 0 0.5296h-0.5293c-0.3552-0.0035-0.3519-0.5325 0-0.5296zm1.3221 0h0.5298c0.3489-0.0067 0.3568 0.5218 0 0.5296H4.2325c-0.3538-0.0035-0.3505-0.5325 0-0.5296zm-2.6469 1.0586h0.5293c0.3512-0.0058 0.3573 0.5228 0 0.5291h-0.5293c-0.3514-0.0005-0.3516-0.5296 0-0.5291zm1.3247 0h0.5293c0.3554 0.0051 0.349 0.5338 0 0.5291h-0.5293c-0.3473 0.0096-0.3598-0.5179 0-0.5291zm1.3221 0h0.5298c0.3561 0.0053 0.3496 0.5339 0 0.5291H4.2325c-0.3552-0.0062-0.3491-0.5349 0-0.5291z'/%3E%3C/svg%3E");

  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.user-icon {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cellipse cx='12' cy='8' rx='5' ry='6'/%3E%3Cpath d='M21.8 19.1c-.9-1.8-2.6-3.3-4.8-4.2-.6-.2-1.3-.2-1.8.1-1 .6-2 .9-3.2.9s-2.2-.3-3.2-.9c-.5-.3-1.2-.4-1.8-.1-2.2.9-3.9 2.4-4.8 4.2C1.5 20.5 2.6 22 4.1 22h15.8c1.5 0 2.6-1.5 1.9-2.9z'/%3E%3C/svg%3E");

  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cellipse cx='12' cy='8' rx='5' ry='6'/%3E%3Cpath d='M21.8 19.1c-.9-1.8-2.6-3.3-4.8-4.2-.6-.2-1.3-.2-1.8.1-1 .6-2 .9-3.2.9s-2.2-.3-3.2-.9c-.5-.3-1.2-.4-1.8-.1-2.2.9-3.9 2.4-4.8 4.2C1.5 20.5 2.6 22 4.1 22h15.8c1.5 0 2.6-1.5 1.9-2.9z'/%3E%3C/svg%3E");

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

.prediction-icon {
  background-color: currentColor;
  mask-image: url("/static/img/prediction.svg");
  -webkit-mask-image: url("/static/img/prediction.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

.notification-icon {
  width: 30px;
  height: 30px;
  background-color: black;

  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M40.62 28.34l-.87-.7A2 2 0 0 1 39 26.08V18A15 15 0 0 0 26.91 3.29a3 3 0 0 0-5.81 0A15 15 0 0 0 9 18v8.08a2 2 0 0 1-.75 1.56l-.87.7a9 9 0 0 0-3.38 7V37a4 4 0 0 0 4 4h8.26a8 8 0 0 0 15.47 0H40a4 4 0 0 0 4-4V35.36a9 9 0 0 0-3.38-7.02zM24 43a4 4 0 0 1-3.44-2h6.89A4 4 0 0 1 24 43zm16-6H8v-1.64a5 5 0 0 1 1.88-3.9l.87-.7A6 6 0 0 0 13 26.08V18a11 11 0 0 1 22 0v8.08a6 6 0 0 0 2.25 4.69l.87.7A5 5 0 0 1 40 35.36z'/%3E%3C/svg%3E");

  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M40.62 28.34l-.87-.7A2 2 0 0 1 39 26.08V18A15 15 0 0 0 26.91 3.29a3 3 0 0 0-5.81 0A15 15 0 0 0 9 18v8.08a2 2 0 0 1-.75 1.56l-.87.7a9 9 0 0 0-3.38 7V37a4 4 0 0 0 4 4h8.26a8 8 0 0 0 15.47 0H40a4 4 0 0 0 4-4V35.36a9 9 0 0 0-3.38-7.02zM24 43a4 4 0 0 1-3.44-2h6.89A4 4 0 0 1 24 43zm16-6H8v-1.64a5 5 0 0 1 1.88-3.9l.87-.7A6 6 0 0 0 13 26.08V18a11 11 0 0 1 22 0v8.08a6 6 0 0 0 2.25 4.69l.87.7A5 5 0 0 1 40 35.36z'/%3E%3C/svg%3E");

  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.Approval-icon {
  mask-image: url("data:image/svg+xml,%3Csvg height='100%25' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' version='1.1' viewBox='0 0 32 32' width='100%25' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M27.008,3.937c-0,-0.796 -0.317,-1.559 -0.879,-2.122c-0.563,-0.562 -1.326,-0.878 -2.121,-0.878c-3.832,-0 -12.168,-0 -16,-0c-0.796,-0 -1.559,0.316 -2.122,0.878c-0.562,0.563 -0.878,1.326 -0.878,2.122c-0,5.161 -0,18.886 -0,24.047c-0,0.796 0.316,1.559 0.878,2.121c0.563,0.563 1.326,0.879 2.122,0.879c3.832,-0 12.168,-0 16,-0c0.795,-0 1.558,-0.316 2.121,-0.879c0.562,-0.562 0.879,-1.325 0.879,-2.121l-0,-24.047Zm-10.86,21.15l2.437,1.729c0.219,0.155 0.49,0.216 0.754,0.168c0.264,-0.047 0.498,-0.198 0.65,-0.419l2.824,-4.127c0.312,-0.456 0.195,-1.078 -0.261,-1.39c-0.455,-0.312 -1.078,-0.195 -1.39,0.26l-2.25,3.288c0,0 -1.607,-1.14 -1.607,-1.14c-0.45,-0.319 -1.075,-0.213 -1.394,0.237c-0.319,0.45 -0.213,1.075 0.237,1.394Zm-6.148,-6.087l6.008,-0c0.551,0 1,-0.448 1,-1c-0,-0.552 -0.449,-1 -1,-1l-6.008,-0c-0.552,0 -1,0.448 -1,1c0,0.552 0.448,1 1,1Zm0,-3.988l11.988,0c0.552,0 1,-0.448 1,-1c-0,-0.552 -0.448,-1 -1,-1l-11.988,0c-0.552,0 -1,0.448 -1,1c0,0.552 0.448,1 1,1Zm0,-4.012l11.988,-0c0.552,0 1,-0.448 1,-1c-0,-0.552 -0.448,-1 -1,-1l-11.988,-0c-0.552,0 -1,0.448 -1,1c0,0.552 0.448,1 1,1Zm-0,-4.012l11.988,-0c0.552,-0 1,-0.448 1,-1c-0,-0.552 -0.448,-1 -1,-1l-11.988,-0c-0.552,-0 -1,0.448 -1,1c-0,0.552 0.448,1 1,1Z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .menu-text,
  .logo h1 {
    display: none;
  }

  .main-content {
    margin-left: 40px;
    padding: 15px;
  }

  .stats-cards,
  .charts-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}
